#wrap { width: 100%; margin: auto; position: relative; box-sizing: border-box;}
#header {height: 8.3333vw;}
#header h1 {position: absolute; top: 0.5000vw; right: 39.3889vw; }
#header h1 img {width: 15.9722vw; height: 8.3333vw;}
.inner {}


#header #nav {position: absolute;  left: -17.8889vw; top: 2.7778vw; width: 13.8889vw; transition: 0.5s; background: #d9b577;  padding: 1.7361vw; opacity: 0.8; z-index: 10;}
#header #nav.on {left: 0.0000vw;}
#header #nav h2 {text-align: center; font-size: 1.9444vw; margin: 1.3889vw 0;  font-family:'Times New Roman', Times, serif; font-weight: 600; }
#header #nav h2:nth-child(1) {margin-top: 0;}
#header #nav ul {}
#header #nav ul li {}
#header #nav ul li a {display: block; text-align: center; line-height: 2.7778vw; border-bottom: 0.0694vw solid rgba(0,0,0,0.2); font-size: 1.2500vw; color: #826d44; }
#header #nav ul .nav-last a {border-bottom: none; margin-bottom: 0.6944vw;}
#header #nav .close {position: absolute; display: block; text-align: center; width: 2.7778vw; height: 2.7778vw; position: absolute; right: -2.7778vw; top: 0.0000vw;  cursor: pointer; }
#header #nav .close.on {display: block;}
#header #nav .close i { font-size: 1.7361vw; line-height: 2.7778vw; background: white; width: 2.7778vw; height: 2.7778vw;}

#header .search {position: absolute; top: 3.1250vw; right: 0.6944vw;}
#header .search i {font-size: 1.9444vw;}

/* header */

#container {}
#content {}

.main {}
.main .con-box {width: 100%;}
.main .con-box .inner {}

.main .con1 {height: 69.4444vw; background: #F2E6D1;}
.main .con1 .sabon1 {align-items: center; position: absolute; left: 28.8528vw; top: 13.8889vw;  width: 40.7222vw; height : 40.7222vw;}
.main .con1 h2 {font-size: 5.8194vw; position: absolute; top: 31.9444vw; left: 16.6611vw; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; z-index: 1;
color: #fff;}
.main .con1 button {width: 12.5000vw;  height: 5.5556vw; background: none; border-radius: 50%;  position: absolute; top: 60.5000vw; left: 29%; border: 0.0694vw solid #AF9867;}
.main .con1 button p {font-size: 1.3889vw; font-family: 'Times New Roman', Times, serif; color: #AF9867; }
.main .con1 span {font-size: 1.2889vw; color:#5F5F5F; font-family: 'Times New Roman', Times, serif;  position: absolute;  top: 56.7222vw; right: 45.3%;}
.main .con1 h3 {font-size: 1.8056vw; color: #423930; font-family: 'Times New Roman', Times, serif; position: absolute;  top: 58.8056vw; right: 29.5%; }
.main .con1 .info {font-size: 1.2500vw; 
    color:#5F5F5F; position: absolute; top: 62.5833vw; right: 30%;}

.main .con2 {height: 128.4722vw; position: relative; }
.main .con2 .inner {}
.main .con2 .inner h2 {font-size: 4.1667vw; position: relative; top: 10.4167vw; left: 35.0000vw; font-family: 'Times New Roman', Times, serif; font-weight: 600; }
.main .con2 .inner .menus {display: flex; justify-content: space-between; font-size: 1.6667vw; font-family: 'Times New Roman', Times, serif; position: absolute; top: 20.8333vw; left: 22.5556vw;} 
.main .con2 .inner .menus li {margin-right: 1.5833vw;}
.main .con2 .inner .menus li:hover {color: #AF9867; transition: 0.2s; }
.main .con2 .inner .category-img {position: absolute; top: 27.7778vw; left: 14.3000vw; width:71.1111vw;}

.main .con2 .inner .item-list {display: flex; position: relative;  margin-top: 57.4167vw;}
.main .con2 .inner .item-list li {padding-left: 4.8611vw;}
.main .con2 .inner .item-list .item-box {width : 27.7778vw; height : 20.8333vw; background: #F9F4ED; position: absolute;
    top: 0.0000vw; left:14.3333vw;}
.main .con2 .inner .item-list .item01 {width: 19.4444vw; height: 22.9167vw; position: absolute; top: -3.4722vw; left:21.8056vw;}
.main .con2 .inner .item-list .desc {position: absolute; top: 0.4722vw; right: 25.8333vw;}
.main .con2 .inner .item-list li h4 {font-size: 2.5278vw; padding-top: 1.3889vw; padding-bottom: 0.6944vw;}
.main .con2 .inner .item-list li p {font-size: 1.6889vw;  }
.main .con2 .inner .item-list li span {font-size: 1.4500vw;  }
.main .con2 .inner .item-list li em {padding-left: 0.9944vw; font-size: 1.1111vw;}

.main .con2 .inner .item-list .item-box2 {width: 27.7778vw; height: 20.8333vw; background: #F9F4ED; position: absolute;
 top: 32.9167vw; left: 14.0000vw;}
.main .con2 .inner .item-list .item02 {width: 19.4444vw; height: 22.9167vw; position: absolute; top: 29.4444vw; left:18.3333vw;}
.main .con2 .inner .item-list .desc2 {position: absolute; top: 33.9722vw; right: 17.2778vw;}

 
.main .con3 {height: 62.5000vw; background: #F9F4ED; position: relative; }
.main .con3 .inner {}
.main .con3 .inner h2 {font-size: 5.1667vw; font-family: 'Times New Roman', Times, serif; position: absolute;
 top: 4.9444vw; left: 3.4722vw; text-shadow: 0.2083vw 0.2083vw 0.2083vw #724e25; font-weight: 800; color: #F9F4ED; }
.main .con3 .inner img {position: absolute; left: 3.4722vw; bottom: 3.000vw; width: 42.7778vw; height: 30.2222vw;}

.main .con3 .inner .about {position: absolute;  right: 5.0833vw;
bottom: 2.3333vw; text-align: end;}
.main .con3 .inner .about h3 {font-size: 3.5000vw; font-weight: 600; font-family: 'Times New Roman', Times, serif; margin-bottom: 2.0833vw;}
.main .con3 .inner .about p {font-size: 1.7500vw;  margin-bottom: 1.3889vw; color: #5F5F5F;}
.main .con3 .inner .about strong {font-size: 1.2500vw; font-weight: 600;}
.main .con3 .inner .about span {font-size: 1.1806vw; font-family: 'Times New Roman', Times, serif;}

.main .con4 {height: 69.4444vw; position: relative; }
.main .con4 {}
.main .con4 h2 {font-size: 2.7778vw; font-family: 'Times New Roman', Times, serif;  position: absolute;
    top: 4.7778vw; left: 32.2778vw;
    font-weight: 600; text-align: center;}
.main .con4 img {z-index: 1;}
.main .con4 .photo1 {position: absolute; top: 16.8889vw; left: 4.8194vw; width: 20.3611vw; height: 24.4444vw;}
.main .con4 .photo2 {position: absolute; top: 10.3333vw; left: 36.0333vw; width: 26.3611vw; height: 26.4444vw;}
.main .con4 .photo3 {position: absolute; top: 16.8889vw; right: 4.1667vw; width: 20.3611vw; height: 24.4444vw;}
.main .con4 .circle {position: absolute; width: 22.2222vw; height: 31.2500vw; border-radius: 9.0278vw;}

.main .con4 .circle1 {position: absolute; top: 17.3611vw; left: 0.0000vw; background: #DC8C73;}
.main .con4 .circle2 {position: absolute; left: 38.3056vw; top: 11.8056vw; background: #EAE6CA;}
.main .con4 .circle3 {position: absolute; right: 0.0000vw; top: 17.3611vw; background: #ABB55D;}

.main .con4 h3 {font-size: 2.0833vw; font-family: 'Times New Roman', Times, serif;  padding-bottom: 0.6944vw; font-weight: 600;} 
.main .con4 span { font-size: 1.2500vw; color: #5F5F5F;}
.main .con4 strong {display: block; font-weight: 300; font-size: 1.5278vw;  padding-bottom: 1.3889vw; }

.main .con4 .item01 {position: absolute; bottom: 14.5833vw; left: 0;}
.main .con4 .item02 {position: absolute; bottom: 20.1389vw; left: 38.3056vw;}
.main .con4 .item03 {position: absolute; bottom: 15.2778vw; right: 11.8056vw;}

.main .con4 button { font-size: 1.5278vw; width: 10.4167vw; height: 4.1667vw; line-height: 4.1667vw; 
border-radius: 1.2500vw; font-family: 'Times New Roman', Times, serif;  background: none; border: none; }

.main .con4 .btn1 {background: #DC8C73;}
.main .con4 .btn2 {background: #EAE6CA;}
.main .con4 .btn3 {background: #ABB55D;}

.main .con5 { height: 76.3889vw; background:#F9F4ED; position: relative;}
.main .con5 .con5-photo1 {position: absolute; width: 39.7778vw; height: 32.8333vw;
    top: 13.8889vw; left: 0; border-radius: 0 9.3333vw 9.3333vw 0;}
.main .con5 .con5-photo2 {position: absolute; bottom: 0.0000vw; right: 0.000vw; border-radius: 9.3333vw 0 0 9.3333vw;
    width: 39.7778vw; height: 32.8333vw;}
.main .con5 h3 {font-size: 2.7778vw;  font-family: 'Times New Roman', Times, serif; position: absolute;
    top: 5.4722vw; left : 40.3056vw;
    font-weight: 600;}

.main .con5 h4 {font-size: 3.2222vw;  padding-bottom: 1.7361vw; font-weight: 600;} 
.main .con5 strong { font-size: 2.1667vw; font-family: 'Times New Roman', Times, serif;  padding-bottom: 1.3889vw;
    color: #B49760; display: block;}
.main .con5 span {font-size: 2.0278vw;}
.main .con5 button {width: 17.3611vw; height: 4.1667vw; margin-top: 0.6944vw; background: none; border: 0.0694vw solid #B49760; border-radius: 2.0833vw;
font-size: 1.5278vw; color: #B49760; }
.main .con5 .con5-1 {position: absolute; right: 4.0833vw; top: 18.6667vw; text-align: center; }
.main .con5 .con5-2 {position: absolute; bottom: 4.5000vw; left: 4.1667vw; text-align: center; }

    #footer {height: 38.8889vw; background: #423930; position: relative; display: flex;  }
    #footer .footer01 { 
    flex-direction: column; position: absolute;  top: 0; left: 2.0833vw;}
    #footer .footer02 {position: absolute; top: 0; right: 2.0833vw;}
    #footer .first { font-size: 1.8056vw; color: #AF9867;  font-family: 'Times New Roman', Times, serif; padding-top: 2.7778vw; padding-bottom: 0.6944vw;}
    #footer li {font-size: 1.2500vw; color: #CECCC9;  padding: 0.3472vw 0;}
    #footer li .xi-instagram {font-size: 2.2222vw;}
    #footer li .xi-instagram:hover {transition: 0.5s; transform: rotate(30deg); color: #aaa7a2;}
    #footer .footer05 {display: flex; flex-direction: row; position: absolute;
        bottom: 15.5833vw; left: 33.4444vw;}
    #footer .footer05 li {padding-right: 0.6944vw;}
    #footer .footer06 {display: flex; flex-direction: row;  position: absolute;
        bottom : 12.8056vw; left: 12.7778vw;}
    #footer .footer06 li {font-size: 1.1111vw; padding-right: 1.0417vw;}
    #footer .footer07 {display: flex; flex-direction: row; position: absolute;  bottom: 10.0278vw; left: 40.4778vw;}
    #footer .footer07 li {font-size: 0.9722vw; padding-right: 1.0417vw;}
    #footer h1 img {position: absolute; bottom: 0.0000vw; left: 44.3333vw; padding-bottom: 1.3889vw;}

    .bg { position: fixed; left: 0; top: 0; background: #000; width: 1000vw; height: 1000vh; opacity: 0; z-index: 10; transition: 0.3s; pointer-events: none;}
    .bg.on {opacity: 0.7; pointer-events: auto;}

    .top {position: fixed; left: 90%; bottom: 2.0833vw; width: 4.1667vw; height: 4.1667vw; background: #CECCC9;  
    cursor: pointer; border-radius: 2.0833vw; z-index: 1; text-align: center;}
    .top.on { display: block; }
    .top i { line-height: 4.1667vw;  font-size: 1.3889vw; }

    article {position: relative;}
    article img {width: 100%; z-index: 1;}
    article h2 {position: absolute; top: 4.4306vw; left: 40.1667vw; font-size: 3.4722vw;  font-family: 'Times New Roman', Times, serif;
    font-weight: 600; color: #fff;}
    article .top-menu {display: flex; justify-content: center; position: relative; }
    article .top-menu li::before {content: ""; width: 0.0694vw; height: 1.2500vw; border-left: 0.0694vw solid #CECCC9;
    margin-right: 2.0833vw;}
    article .top-menu li {margin-top: 1.3889vw; font-size: 1.2500vw; padding-left: 3.4722vw;}
    article .top-menu li::after {content: ""; width: 0.0694vw; height: 1.2500vw; border-left: 0.0694vw solid #CECCC9;
    margin-left: 2.0833vw; }


    .main .num {font-size: 7.9444vw; font-family: 'Times New Roman', Times, serif;  opacity: 0.4; font-weight: 600; z-index: 0;}
    .main .con01 {position: relative; height: 45.7222vw;}
    .main .con01 h2 {position: absolute; top: 3.4722vw; left: 4.3889vw; font-size: 4.4722vw; font-family: 'Times New Roman', Times, serif; font-weight: 600; }
    .main .con01 .num {position: absolute; top: 0.6944vw; left: 10.2083vw;}
    .main .con01 ul {position: absolute;  left: 1.3889vw;
    top: 10.4167vw; color:#a7a49e; display: flex; flex-direction: column;}
    .main .con01 ul li {padding-top: 0.6944vw; font-size: 1.7500vw;}
    .main .con01 .about-top1 {width: 55.6111vw; height: 37.7778vw;
     right: 3.0000vw; position: absolute; top: 12.8611vw; opacity: 0;}
    .main .con01:hover .about-top1 {transition: 1s; opacity: 1; top: 5.4722vw;}
    
    .main .con02 {position: relative; height: 41.6667vw;}

    .main .con02 h2 {position: absolute; top: 7.2778vw; right: 28.4444vw; opacity: 0; font-size: 4.4722vw; font-family: 'Times New Roman', Times, serif; font-weight: 600;}
    .main .con02 .num {position: absolute; top: 11.1111vw; right: 34.3056vw; font-size: 7.9444vw; }
    .main .con02 .about-top2 {width: 41.2500vw; height: 37.7778vw; position: absolute; top: 5.7222vw; left: 0; opacity: 0;}
    .main .con02 .con02-desc {position: absolute; bottom: 18.1944vw; right: 1.3889vw; opacity: 0; font-size: 1.7500vw; color:#a7a49e; }
    
    .main .con02:hover h2 {transition: 1s; top: 13.8889vw; opacity: 1;}
    .main .con02:hover .con02-desc {transition: 1.1s; bottom: 11.5833vw; opacity: 1;}
    .main .con02:hover .about-top2 {transition: 1s; top: 12.3333vw; opacity: 1;}
    

    .main .con03 {position: relative; height: 47.7778vw;}
    .main .con03 em {position: absolute; height: 1.3889vw; background: #000; top: 10.1667vw; left: 48.9222vw;}
    .main .con03:hover em {transition: 1s; height: 7.3444vw; top:14.7778vw;
         width: 0.0694vw;}
    
    .main .con03 .num {position: absolute; left: 45.2500vw; top: 11.1667vw;}
    .main .con03:hover .num {transition: 1s; top: 17.6389vw;}
    .main .con03 .con03-h3 {font-size: 2.2222vw; text-align: center;
    position: absolute; top: 25.2778vw; left: 18.5556vw; opacity: 0;}
    .main .con03:hover .con03-h3 {transition: 1.3s; top: 21.7222vw; opacity: 1; }
    .main .con03 .con03-desc { position: absolute; bottom : 7.0000vw; left: 16.0278vw; opacity: 0; font-size: 1.4500vw;  color: #a7a49e; text-align: center; }
    .main .con03:hover .con03-desc {transition: 1.3s; bottom: 11.1667vw; opacity: 1;}

    .main .con04 {position: relative; height: 41.6667vw;}
    .main .con04 .about-top3 {width: 45.7222vw; height: 30.8333vw; position: absolute; top: 5.5833vw; left: 0; opacity: 0;}
    .main .con04:hover .about-top3 {transition: 0.8s; top: 1.8056vw; opacity: 1;}
    .main .con04 h2 {position: absolute; top: 1.6389vw; right: 22.5000vw; font-weight: 300;  opacity: 0; font-size: 4.6722vw; font-family: 'Times New Roman', Times, serif;}
    .main .con04:hover h2 {transition: 0.8s; top: 5.4167vw; opacity: 1;}
    .main .con04 .num {position: absolute; top: 2.6389vw; right: 34.1389vw;}
    .main .con04 .con04-h3 {font-size: 2.2444vw; font-family: 'Times New Roman', Times, serif; position: absolute; right: 13.2417vw; top: 15.0556vw; opacity: 0;}
    .main .con04:hover .con04-h3 {transition: 0.8s; top: 12.2778vw; opacity: 1;}
    .main .con04 .con04-desc {position: absolute; font-size: 1.3111vw; top: 19.5278vw; right: 14.4778vw; opacity: 0;}
    .main .con04:hover .con04-desc {transition: 0.8s; top: 16.7500vw; opacity: 1;  }
    .main .con04 strong {font-size: 1.4889vw; position: absolute; right: 20.6083vw; bottom: 3.1667vw; font-weight: 600;  opacity: 0;}
    .main .con04:hover strong {transition: 0.8s; bottom: 5.9444vw; opacity: 1; }

    .main .con05 {position: relative; }


    .main .step-span::before {content: ""; display: inline-block; vertical-align: middle;  width: 1.3889vw; height: 0.0694vw;  border-top: 0.0694vw solid #000 ; margin-right: 0.6944vw;}
    .main .step-span {font-size: 2.6667vw; font-family: 'Times New Roman', Times, serif; font-weight: 600;}
    .main .step-desc {font-size: 1.6111vw;  margin-bottom: 1.3889vw; font-weight: 300;}
    .main .step-h3 {font-size: 5.1667vw; font-family: 'Times New Roman', Times, serif; font-weight: 600;}
    .main .step-strong {font-size: 1.4500vw; font-family: 'Times New Roman', Times, serif; font-weight: 600; }
    .main .step-strong-big {font-size: 9.6389vw; font-family: 'Times New Roman', Times, serif; font-weight: 600; position: absolute; bottom: -2.4167vw;
        left : 5.5556vw;
    color: #CECCC9; opacity: 0;} 
    .main .step-strong-big2 {font-size: 9.6389vw; font-family: 'Times New Roman', Times, serif; font-weight: 600; position: absolute; bottom: -11.4167vw;
        left: 8.3333vw; color: #CECCC9; opacity: 0;} 
    
    .main .con01 .about-img01 {width: 62.5000vw; height: 24.3056vw; position: absolute; top: 5.4722vw; right: 17.5000vw;}
    .main .con01 .about-box01 {width: 24.8333vw; height: 9.9444vw; background: #fff; position: absolute; top: 27.8167vw; left: 19.8889vw; opacity: 0;}
    .main .con01:hover .about-box01 {transition: 1s; top: 20.4722vw; opacity: 1;}
    .main .con01 .about-box01 li {font-size: 3.0833vw; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: 600;}
    .main .con01 .step0 {position: absolute; bottom: -10.8167vw; left: 20.0361vw; opacity: 0;}
    .main .con01:hover .step0 {transition: 1.6s; bottom: -4.0833vw; opacity: 1;}
    .main .con01 .step0 h3 {font-size: 1.6111vw; font-weight: 600; font-family: 'Times New Roman', Times, serif;}
    .main .con01 .step0 p {font-size: 1.4722vw;  padding-top: 0.6944vw; font-weight: 300;}

    .main .con02 .about-img02 {width: 34.3056vw; height: 34.3056vw; position: absolute; top: 2.4722vw; right: 0; opacity: 0;}
    .main .con02:hover .about-img02 {transition: 1s; right: 2.7778vw; opacity: 1;}

    .main .con02 .step1 {position: absolute; top: 14.4167vw; left: 8.3333vw; opacity: 0;}
    .main .con02:hover .step1 {transition: 1.6s; top: 9.4167vw; opacity: 1;}

    .main .con03 .about-img03 {width: 44.7222vw; height: 24.8333vw; position: absolute;  top: 0; right: 16.9444vw; opacity: 0; z-index: 10;}
    .main .con03 .about-img003 {width: 36.7778vw; height: 29.8333vw; position: absolute;  top: 14.9444vw; left: 13.4167vw; opacity: 0; z-index: 10;}
    .main .con03:hover .about-img03 {transition: 1s; right: 10.9444vw; opacity: 1;}
    .main .con03:hover .about-img003 {transition: 1.2s; top: 8.9444vw; opacity: 1;}

    .main .con03 .step2 {position: absolute; bottom: 0; right: 11.5556vw; opacity: 0;}
    .main .con03:hover .step2 {transition: 2.2s; right : 6.5556vw; opacity: 1;}
    .main .con03:hover .step-strong-big {transition: 2s; left : 7.5556vw; opacity: 1;}
    .main .con03:hover .step-strong-big2 {transition: 2s; left : 10.3333vw; opacity: 1;}

    .main .con04 .about-img04 {width: 34.3056vw; height: 34.3056vw; position: absolute; top: 2.4722vw; right: 0; opacity: 0;}
    .main .con04:hover .about-img04 {transition: 1s; right: 2.7778vw; opacity: 1;}
    .main .con04 .step3 {position: absolute; top: 14.4167vw; left: 8.3333vw; opacity: 0;}
    .main .con04:hover .step3 {transition: 1.6s; top: 9.4167vw; opacity: 1;}

    .main .con05 .about-img05 {padding-top: 7.9444vw; width: 100%; height: 27.8333vw;}
    .main .con05 .step4-span {font-size: 2.7778vw;  top: 17.1111vw; left: 4.0000vw; position: absolute; color: #fff; opacity: 0;} 
    .main .con05 .step4-em {font-family: 'Times New Roman', Times, serif; font-weight: 600;}
    .main .con05:hover .step4-span {transition: 1s; left: 8.3333vw; opacity: 1;}